body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

section {
    height: 450px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

.top-banner {
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.315) 0%, rgb(0, 0, 0) 100%), url(images/flood_danube_sandbag_266488.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.header-text {
    font-size: 50px;
    color: white;
    /* text-align: center; */
    line-height: 1.5;
}

.header-paragraph {
    font-size: 20px;
    color: white;
    /* text-align: center; */
    line-height: 1.5;
}

.anchor-button {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.donate-text {
    font-size: 50px;
    color: black;
}


.flexible-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgb(240, 236, 236);
    width: 40px;
    height: 40px;
    padding: 30px 25px 20px 20px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.box-selected {
    background-color: rgb(245, 212, 205);
    border-style: solid;
    border-color: rgb(243, 150, 134);
    width: 40px;
    height: 40px;
    padding: 30px 25px 20px 20px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.other-amount {
    text-align: center;
    color: rgba(0, 0, 0, 0.774);
    margin-bottom: 8%;
}

.other-amount p {
    margin-bottom: 0%;
    margin-top: 2%;
}

hr {
    margin-bottom: 3%;
    width: 52%;
    color: rgba(0, 0, 0, 0.774);
}

.donate-plan-box-1 {
    background-color: #EDF5F6;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 20px;
    margin-left: 15%;
}

.donate-plan-box-2 {
    background-color: #FFEEEE;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 1%;
}

.donate-plan-box-3 {
    background-color: #FFF4D6;
    border-radius: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 15%;
}

.half-width {
    width: 50%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5%;
}


.half-width img {
    width: 100%;
}



.subscribe {
    background-color: #FFF4D6;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    padding-top: 80px;
    padding-bottom: 85px;
}

input {
    display: block;
    width: 180px;
    height: 40px;
    padding: 0 20px;
    border: 0;
    background-color: rgb(221, 221, 221);
    font-size: medium;
}


button {
    display: block;
    width: 100px;
    height: 40px;
    padding: 0 20px;
    font-size: medium;
    background-color: rgba(220, 0, 0, .5);
    border: 0;
}

footer {
    text-align: center;
    background-color: #0B0D17;
    padding-top: 70px;
    padding-bottom: 30px;
}

footer h1 {
    color: #FF5959;
    font-size: 34px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0%;
}

footer p {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
}



.gallery {
    margin: 7px;
    border: 2px solid rgb(243, 172, 172);
    /* float: left; */
    width: 350px;
    /* width: 24%; */

}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}